.container {
    width: 100%;
    height: 100%;
}
capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 100%;
}

ion-content {
    --background: none;
}
  
.perfil {
    height: 32px;
    width: 39px;
    position: relative;
    display: flex;
    transform: translateY(-15px);
    border-radius: 200%;
    border: 2px solid #788143;
    margin-top: 30px;
}