<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img src="assets/img/header1.png"></ion-img>
  </div>
  <div class="tneImg">
    <img src="assets/img/Tne-Logo.png">
  </div>
<div class="wrapform">
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="text" name="email" placeholder=" Escribe tu email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" name="password" placeholder="**********" required></ion-input>
      </ion-item>
    </div>
    <div class="password_forgot">
      <!--<ion-button fill="clear" class="ion-no-padding">¿Olvidaste la contraseña?</ion-button>-->
    </div>
</ion-content>
